<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/vehicles?classification=Custom">Custom</a></li>
    <li><a href="/vehicles?classification=Sedan">Sedan</a></li>
    <li><a href="/vehicles?classification=SUV">SUV</a></li>
    <li><a href="/vehicles?classification=Truck">Truck</a></li>
  </ul>
</nav>
